In [1]:
import pandas as pd

In [3]:
# Load data from Excel sheets
users = pd.read_excel('Sample Data - Aspire.xlsx', sheet_name='users')
programs = pd.read_excel('Sample Data - Aspire.xlsx', sheet_name='programs')
tasks = pd.read_excel('Sample Data - Aspire.xlsx', sheet_name='tasks')
updates = pd.read_excel('Sample Data - Aspire.xlsx', sheet_name='user updates')

### Data Quality Issues:

1. #### Users Sheet (users_df)
- **userid vs. userId mismatch:** In "users" sheet, user IDs are named userid, whereas in "user updates," it is userId (case difference). This may cause merge issues.
- **Missing values:** No visible missing data at first glance, but needs further checks.
- **Duplicate entries**: need to be check

In [22]:
print("columns of users sheet: ",users.columns)
print("columns of users_update sheet:",updates.columns)

columns of users sheet:  Index(['userid', 'name', 'department', 'empId'], dtype='object')
columns of users_update sheet: Index(['id', 'programType', 'createdAt', 'updatedAt', 'userId', 'programId',
       'ist created at', 'task update information'],
      dtype='object')

In [24]:
print("Missing values for users:\n",users.isnull().sum())

Missing values for users:
 userid        0
name          0
department    0
empId         0
dtype: int64

In [39]:
print("Duplicates entries for name column:",users.duplicated().sum())

Duplicates entries for name column: 0

2. #### Programs Sheet (programs_df)
- **CoinsPerDayPerPerson has NaN values:** This column has missing values, which might affect reward calculations.
- **pointsPerDayPerPerson has NaN values:** This column has missing values, which might affect reward calculations.
- **id column not named consistently:** It should ideally be programId to align with other sheets.

In [29]:
print("Missing values of Program Sheet:\n",programs.isnull().sum())

Missing values of Program Sheet:
 id                        0
programName               0
pointsPerDayPerPerson    25
coinsPerDayPerPerson     40
programType               0
dtype: int64

3. #### Tasks Sheet (tasks_df)
- **Points and Coins columns have NaN values**: taskCoins and taskPoints have missing values.
- **taskMinDuration inconsistencies:** Some tasks have durations in thousands (2000), which seems incorrect also no unit mentioned.
- **id column naming:** The column id should ideally be taskId for clarity.

In [30]:
print("Missing values of Tasks sheet:\n",tasks.isnull().sum())

Missing values of Tasks sheet:
 id                   0
taskName             0
taskType             0
taskPoints         168
taskCoins          237
taskMinDuration      0
programId            0
dtype: int64

In [32]:
tasks["taskMinDuration"] #incosistencies and no unit specified

0      2000
1        18
2        18
3        18
4        18
       ...
400      18
401      18
402      18
403      18
404       1
Name: taskMinDuration, Length: 405, dtype: int64

4. #### User Updates Sheet (user_updates_df)
- **Date issues:** Columns createdAt and updatedAt are same.
- **Mismatched program IDs:** Some programId values don’t match the "programs" sheet, suggesting missing or incorrect records.
- **Duplicate user entries?:** Needs checking if a user is updating the same task multiple times in the same period.
- **task update information column have sample text**

In [34]:
updates[["createdAt","updatedAt"]]

               createdAt           updatedAt
0    2025-02-07 06:16:14 2025-02-07 06:16:14
1    2025-02-07 06:16:11 2025-02-07 06:16:11
2    2025-02-07 06:15:07 2025-02-07 06:15:07
3    2025-02-07 06:13:39 2025-02-07 06:13:39
4    2025-02-07 06:12:29 2025-02-07 06:12:29
...                  ...                 ...
5008 2024-12-16 07:44:38 2024-12-16 07:44:38
5009 2024-12-16 07:41:38 2024-12-16 07:41:38
5010 2024-12-16 07:37:47 2024-12-16 07:37:47
5011 2024-12-16 07:27:51 2024-12-16 07:27:51
5012 2024-12-16 07:07:39 2024-12-16 07:07:39

[5013 rows x 2 columns]

In [36]:
programid_not_in_updates = set(programs['id']) - set(updates['programId'])
print("Program ID not matching with program sheet:\n", programid_not_in_updates)

Program ID not matching with program sheet:
 {10177, 10178, 10181, 10186, 10218, 10219, 10189, 10198, 10170, 10204}

In [37]:
print("Duplicate Entries for same users for same timming:",updates.duplicated(subset=["userId","createdAt"]).sum())

Duplicate Entries for same users for same timming: 4

In [38]:
updates[["task update information"]]

     task update information
0                sample text
1                sample text
2                sample text
3                sample text
4                sample text
...                      ...
5008             sample text
5009             sample text
5010             sample text
5011             sample text
5012             sample text

[5013 rows x 1 columns]